html,
body {
    margin:0;
    padding:0;
    height:100%;
    min-width: 540px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #2e3436;
}

#container {
    min-height:100%;
    position:relative;
}

#header {
    background:#000;
    padding: 0;
    height: 100px;
}

#body {
    margin: 0.5em 1em 0 1em;
    padding-bottom: 5em;	/* Height of the footer */
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 5em;		/* Height of the footer */
    color: #eeeeec;
    background-color: #000;
    font-size: 0.7em;
}

#body a {
    color: #3465a4;
    text-decoration: none;
    font-weight: bold;
}

#body a:hover {
    color: #204a87;
    text-decoration: underline;
}

#body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#body ul ul {
    padding-bottom: 1em;
}

/* Adds a border underneath the nested unordered list */
#body ul li ul {
    border-bottom: 1px solid #888a85;
}

/* Sets the text smaller in the nested unordered list */
#body ul li ul li {
    font-size: 0.75em;
}

#body h1,
#body h2,
#body h3,
#body h4,
#body h5,
#body h6 {
    margin: 0.25em 0 0 0;
    color: #33322e;
}

/* http://www.w3schools.com/CSS/pr_text_white-space.asp */
/* http://www.w3schools.com/CSS/css_border.asp */

#body pre {
    margin: 0;
    background: #eeeeee;
    border-width: 2px;
    border-style: dotted;
    border-color: #cccccc;
    padding: 0.5em;
    white-space: pre-wrap;
}

#footer p {
    margin: 0.5em 1em 0.5em 1em;
}

#footer img {
    vertical-align: middle;
    margin: 0px 3px 0px 3px;
    border: none;
}

#footer a {
    color: #e9b96e;
    text-decoration: none;
}

#footer a:hover {
    color: #fffffd;
    text-decoration: underline;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    width: 100px;
    height: 100px;
}

.nobreak {
    white-space: nowrap;
}

/* Not sure if we need this, but data-ng-view specifies this as its class*/
.container {
    
}

/* http://www.w3schools.com/CSS/css_float.asp */
/* With float, a width should be specified */
.logo {
    float: left;
    margin: 7px 1em 8px 1em;
    border: none;
    height: 85px;
    width: 85px;
}

/* This is magical vertical-align code from http://www.andy-howard.com/verticalAndHorizontalAlignment/index.html */
.items ul {
    list-style: none;
    margin: 0;
    padding:0
}

.items li
{
    float: left;
    margin: 0;
}

/* Keep width below 430px to avoid sizing issues */
.items li .outerContainer
{
    display: table;
    height: 100px;
    overflow: hidden;
    width: 400px;
}

.items li .outerContainer .innerContainer
{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
}

.items li .outerContainer .innerContainer .element h1
{
    color: #fff;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
}

.items li .outerContainer .innerContainer .element h4
{
    color: #fff;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
}

.repoImg {
    display : block;
    float: left;
    margin: 5px 10px;
}
.repoName {
    color: #333;
    font-size: 40px;
}
.repoDescription {
    color: #777;
    font-size: 15px;
}