
<div class="subTitle">
    <a href="{{m.repo.repoUrl}}"><h3><img src="app/img/blank.png">{{m.repo.description}}</h3></a>
<!--    <span class="repoDetailsLink">| <a href="{{m.repo.bugTrackerUrl}}">Report a bug</a> |</span>-->
    <a href="{{m.repo.gitHubUrl}}"><img src="app/img/github_icon_24.png"/></a>
    <a href="{{m.repo.feedUrl}}" type="application/atom+xml"><img src="app/img/rss_icon_24.png"/></a>
    
    <div class="details">
        <span ng-if="m.repo.lastUpdated" class="lastUpdated">Updated {{m.repo.lastUpdated | date:'medium'}}: {{m.repo.lastUpdateDescription}}</span>
    </div>
</div>

<ul class="detailsList">
    <li class="detailsRow" ng-repeat="file in m.repo.repositoryFiles" ng-controller="FileFormCtrl">
        <a href="{{file.dataFileUrl}}" class="detailsTitle">{{file.name}}</a>
        <div class="details">
            <span class="detailsText">{{file.type}}</span> | 
            <span ng-show="isHtml5()">
                <a ng-click="showIssueForm(file);" href="">Report a bug</a> |
                <a ng-click="showUploadForm(file);" href="">Submit file update</a> |
            </span>
            <span ng-show="!isHtml5()">
                <span class="detailsText" style="padding-left: 4px; color: #999;">Uploads / bug reports unavailable</span> | 
            </span>
            <a href="{{file.gitHubUrl}}"><img src="app/img/github_icon_16.png"/></a>
        </div>
        
        <div class="formContainer" ng-show="formData.isUpload || formData.isIssue">
            <form ng-show="formData.isUpload" name="uploadForm" enctype="multipart/form-data">
                <h4>Submit new version of {{file.name}}</h4>
                <textarea ng-model="formData.commitMessage" ng-required="true" name="commitMessage" placeholder="Describe what was broken and how you fixed it"></textarea>
                <input name="selectFile" type="file" ng-file-select ng-click="uploader.clearQueue();">
                <input class="cancel" ng-click="cancelForm();" value="Cancel" type="button">
                <input class="accept" ng-click="doUpload();" ng-disabled="uploadForm.$invalid || !isFileSelected()" value="Upload!" type="button">
            </form>

            <form ng-show="formData.isIssue" name="issueForm" enctype="multipart/form-data">
                <h4>Report a bug in {{file.name}}</h4>
                <textarea ng-model="formData.issueBody" ng-required="true" name="issueBody" placeholder="Describe what's broken and how to fix it"></textarea>
                <input class="cancel" ng-click="cancelForm();" value="Cancel" type="button">
                <input class="accept" ng-click="postBug();" ng-disabled="issueForm.$invalid" value="Submit!" type="button">
            </form>
            
            <div class="clearfix"></div>
            <span class="errorMessage" ng-show="formData.formResponse.errorMessage">{{formData.formResponse.errorMessage}}</span>
        </div>
        
        <div class="formContainer" ng-show="formData.formResponse.successMessage">
            <span class="successMessage">
                {{formData.formResponse.successMessage}}
                <a href="{{formData.formResponse.responseUrl}}" ng-show="formData.formResponse.responseUrl">Track your submission!</a>
            </span>
        </div>
    </li>
</ul>
